In [1]:
import pandas as pd 

df=pd.read_csv("MVR.csv")

In [2]:
df.head(20)

,Date,Open_M,High_M,Low_M,Close_M,Adj Close_M,Volume_M,Open_V,High_V,Low_V,Close_V,Adj Close_V,Volume_V
0,2008-06-02,30.926001,32.000000,30.257000,32.000000,29.529486,50620000,21.552500,21.737499,21.150000,21.517500,19.202324,36856000
1,2008-06-03,31.386999,31.399000,30.235001,30.740000,28.366755,93913000,21.752501,21.987499,21.507500,21.889999,19.534735,48411600
2,2008-06-04,30.745001,30.959999,29.454000,29.740000,27.443956,66160000,21.770000,22.025000,21.320000,21.370001,19.070698,40684400
3,2008-06-05,29.951000,30.615999,29.544001,30.615999,28.252338,45959000,21.615000,21.809999,21.397499,21.809999,19.463354,27059600
4,2008-06-06,30.228001,30.242001,29.481001,29.573000,27.289856,29383000,21.475000,21.497499,20.887501,20.912500,18.662413,41748000
5,2008-06-09,29.709999,29.886000,27.641001,29.139999,26.890287,55137000,21.000000,21.237499,20.139999,20.535000,18.325535,45240000
6,2008-06-10,28.524000,29.541000,28.337000,28.605000,26.396585,26190000,20.075001,20.717501,19.902500,20.077499,17.917259,36048400
7,2008-06-11,28.743999,28.802000,27.716000,27.921000,25.765392,23577000,20.250000,20.250000,19.400000,19.434999,17.343885,56996400
8,2008-06-12,28.219999,28.968000,28.187000,28.440001,26.244328,31296000,19.737499,20.192499,19.637501,19.889999,17.749931,44605600
9,2008-06-13,28.620001,29.372999,28.620001,29.246000,26.988104,21436000,20.065001,20.452499,20.037500,20.382500,18.189445,30689200
10,2008-06-16,29.198999,29.900000,28.900000,29.447001,27.173586,17072000,20.370001,20.875000,20.275000,20.817499,18.577642,34384000
11,2008-06-17,29.983999,29.983999,29.033001,29.221001,26.965042,15706000,21.025000,21.245001,20.920000,21.167500,18.889975,33277600
12,2008-06-18,29.100000,29.481001,28.544001,29.309000,27.046242,18943000,20.930000,21.174999,20.860001,20.965000,18.709270,33724000
13,2008-06-19,29.259001,29.780001,28.858000,29.260000,27.001019,24155000,20.870001,21.100000,20.405001,21.067499,18.800743,36925200
14,2008-06-20,29.000000,29.447001,28.301001,28.400999,26.208340,26934000,20.742500,21.125000,20.687500,20.892500,18.644567,42546800
15,2008-06-23,28.552999,28.922001,28.000000,28.252001,26.070854,18468000,20.962500,21.087500,20.254999,20.264999,18.084591,30141200
16,2008-06-24,28.122000,28.375000,27.520000,28.037001,25.872448,33647000,20.014999,20.735001,19.627501,20.665001,18.441547,49891200
17,2008-06-25,29.110001,29.516001,28.750000,28.979000,26.741714,38692000,20.840000,21.105000,20.465000,20.514999,18.307697,50711600
18,2008-06-26,28.551001,28.594000,26.801001,27.573000,25.444260,47652000,20.150000,20.184999,19.504999,19.775000,17.647303,76562800
19,2008-06-27,27.500999,27.797001,26.704000,27.172001,25.074221,39815000,19.700001,20.717501,19.637501,20.650000,18.428164,176022800

In [3]:
df.dtypes

Date            object
Open_M         float64
High_M         float64
Low_M          float64
Close_M        float64
Adj Close_M    float64
Volume_M         int64
Open_V         float64
High_V         float64
Low_V          float64
Close_V        float64
Adj Close_V    float64
Volume_V         int64
dtype: object

In [4]:
# df['Date']=pd.to_datetime(df['Date'])

In [2]:
df.columns

Index(['Date', 'Open_M', 'High_M', 'Low_M', 'Close_M', 'Adj Close_M',
       'Volume_M', 'Open_V', 'High_V', 'Low_V', 'Close_V', 'Adj Close_V',
       'Volume_V'],
      dtype='object')

In [5]:
# 1. Daily Price Movements
df['Daily_Range_M'] = df['High_M'] - df['Low_M']
df['Daily_Range_V'] = df['High_V'] - df['Low_V']
df['Price_Change_M'] = df['Close_M'] - df['Open_M']
df['Price_Change_V'] = df['Close_V'] - df['Open_V']

In [6]:
# 2. Relative Changes (Percent Change)
df['Percent_Change_M'] = (df['Close_M'] - df['Open_M']) / df['Open_M'] * 100
df['Percent_Change_V'] = (df['Close_V'] - df['Open_V']) / df['Open_V'] * 100

In [7]:
df.columns

Index(['Date', 'Open_M', 'High_M', 'Low_M', 'Close_M', 'Adj Close_M',
       'Volume_M', 'Open_V', 'High_V', 'Low_V', 'Close_V', 'Adj Close_V',
       'Volume_V', 'Daily_Range_M', 'Daily_Range_V', 'Price_Change_M',
       'Price_Change_V', 'Percent_Change_M', 'Percent_Change_V'],
      dtype='object')

In [8]:
df.to_csv('MVR_new.csv')